<!doctype html>
<html ng-app="seederApp">
  <head>
    <meta charset="utf-8">
    <title>Seeder</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="SeedDataCtrl">
    <div class="container">
      <div class="row">
      <div class="col-md-2">
      <form name="RoomMaker" novalidate>
        <h3 class="form-signin-heading">Room maker</h3>
        <label>Number of rooms</label>
        <select class="form-control rmdropdown" ng-model="rmselect" required>
          <option ng-repeat="option in options" value="{{option}}">{{option}}</option>
        </select>
        </br>
        <button class="btn btn-primary" ng-disabled="RoomMaker.$invalid" ng-click="createRoom(rmselect)">Create Rooms</button>
      </form>
    <p ng-click="status=''">{{status}}</p>
    </div>
    <form name="MessageMaker" novalidate>
      <div class="col-md-2">
        <h3 class="form-signin-heading">Message maker</h3>
        <label>Select room</label>
        </br>
        <select class="form-control msgdropdown" ng-model="msgselected" ng-options="room.name for room in rooms" required></select>
        <h2>{{msgselected.name}}</h2>
      </div>
      <div class="col-md-2">
        <label>Enter number of messages to make</label>
        <input type="text" class="form-control msgnum" ng-model="msgnum" required>
        </br>
        <button class="btn btn-primary" ng-disabled="MessageMaker.$invalid" ng-click="createMsg(msgnum,msgselected)">Create Messages</button>
      </div>
    </form>
    </div>
    </div>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    
    <!-- angularfire -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/0.5.6/chance.js"></script>    

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
